/* %PUBLIC_URL%/libs/pdfjs/web/viewer.css가 먼저 로드되어 있어야 한다. */
// @import url(%PUBLIC_URL%/libs/pdfjs/web/viewer.css);
.toolbar {
  display: none !important;
}

.textLayer .endOfContent {
  display: none !important;
}

.textLayer .endOfContent.active {
  display: none !important;
}

// pdf.js 다이얼로그 숨기기
// 패스워드 다이얼로그, 파일정보 다이얼로그
#overlayContainer {
  display: none !important;
}

#annotationEditorLayer {
  display: none !important;
}

#loadingBar {
  display: none !important;
}

#loadingBar .progress {
  display: none !important;
}

#sidebarContainer {
  position:absolute;
  top: 0px;
  border-top:none;
}
html[dir="ltr"] #sidebarContainer {
  border-right: 1px solid #b4b4b4;
}
html[dir="rtl"] #sidebarContainer {
  border-left:  1px solid #b4b4b4;
}

#thumbnailContainer {
  position:absolute;
  top: 0px;
  border-top:none;
}
html[dir="ltr"] #thumbnailContainer {
  border-right: 1px solid #b4b4b4;
}
html[dir="rtl"] #thumbnailContainer {
  border-left:  1px solid #b4b4b4;
}

html[dir="ltr"] #outlineOptionsContainer {
  position: absolute;
  box-shadow: none;
  width: 226px;
  height: 32px;
  bottom: 0;
  margin: 0 0 10px 20px;
  border-bottom: 0 none;
  border-right: 0 none;
}
html[dir="rtl"] #outlineOptionsContainer {
  position: absolute;
  box-shadow: none;
  width: 226px;
  height: 32px;
  bottom: 0;
  margin: 0 0 10px 20px;
  border-bottom: 0px solid #e0e0e0;
  border-right: 0px solid #e0e0e0;
}
html[dir="ltr"] #toolbarSidebarRight {
  width: 100%;
}
html[dir="rtl"] #toolbarSidebarRight {
  width: 100%;
}
html[dir="ltr"] #toolbarSidebarRight * {
  float: none;
}
html[dir="rtl"] #toolbarSidebarRight * {
  float: none;
}
.toolbarButton {
  border-width: 1px !important;
  border-style: solid;
  border-color: #c5c5c5;
  box-sizing: border-box;
}
.toolbarButton > span {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.toolbarButton::before {
  position: absolute;
  display: none;
  width: 0px;
  height: 0px;
}

/* pdf.js */
.pdfjsAnnotationLayer {
  z-index: 20099;
}

.pdfjsAnnotationLayer section {
  position: absolute;
  text-align: initial;
  cursor: pointer;
  box-sizing: border-box;
}

.pdfjsAnnotationLayer .linkAnnotation > a,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.pushButton > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pdfjsAnnotationLayer .textAnnotation img {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input,
.pdfjsAnnotationLayer .textWidgetAnnotation textarea,
.pdfjsAnnotationLayer .choiceWidgetAnnotation select,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input {
  background-image: var(--annotation-unfocused-field-background);
  border: 1px solid transparent;
  box-sizing: border-box;
  font: calc(9px * var(--scale-factor)) sans-serif;
  height: 100%;
  margin: 0;
  vertical-align: top;
  width: 100%;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input:required,
.pdfjsAnnotationLayer .textWidgetAnnotation textarea:required,
.pdfjsAnnotationLayer .choiceWidgetAnnotation select:required,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:required,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input:required {
  outline: 1.5px solid red;
}

.pdfjsAnnotationLayer .choiceWidgetAnnotation select option {
  padding: 0;
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input {
  border-radius: 50%;
}

.pdfjsAnnotationLayer .textWidgetAnnotation textarea {
  resize: none;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input[disabled],
.pdfjsAnnotationLayer .textWidgetAnnotation textarea[disabled],
.pdfjsAnnotationLayer .choiceWidgetAnnotation select[disabled],
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input[disabled],
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input[disabled] {
  background: none;
  border: 1px solid transparent;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input:hover,
.pdfjsAnnotationLayer .textWidgetAnnotation textarea:hover,
.pdfjsAnnotationLayer .choiceWidgetAnnotation select:hover,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:hover,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.pdfjsAnnotationLayer .textWidgetAnnotation input:focus,
.pdfjsAnnotationLayer .textWidgetAnnotation textarea:focus,
.pdfjsAnnotationLayer .choiceWidgetAnnotation select:focus {
  background: none;
  border: 1px solid transparent;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input :focus,
.pdfjsAnnotationLayer .textWidgetAnnotation textarea :focus,
.pdfjsAnnotationLayer .choiceWidgetAnnotation select :focus,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox :focus,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton :focus {
  background-image: none;
  background-color: transparent;
  outline: auto;
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:checked:after,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
  background-color: CanvasText;
  content: "";
  display: block;
  position: absolute;
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
  height: 80%;
  left: 45%;
  width: 1px;
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:checked:before {
  transform: rotate(45deg);
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
  transform: rotate(-45deg);
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
  border-radius: 50%;
  height: 50%;
  left: 30%;
  top: 20%;
  width: 50%;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input.comb {
  font-family: monospace;
  padding-left: 2px;
  padding-right: 0;
}

.pdfjsAnnotationLayer .textWidgetAnnotation input.comb:focus {
  /*
   * Letter spacing is placed on the right side of each character. Hence, the
   * letter spacing of the last character may be placed outside the visible
   * area, causing horizontal scrolling. We avoid this by extending the width
   * when the element has focus and revert this when it loses focus.
   */
  width: 103%;
}

.pdfjsAnnotationLayer .buttonWidgetAnnotation.checkBox input,
.pdfjsAnnotationLayer .buttonWidgetAnnotation.radioButton input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pdfjsAnnotationLayer .annotationTextContent {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.pdfjsAnnotationLayer .annotationTextContent span {
  width: 100%;
  display: inline-block;
}

.pdfjsAnnotationLayer .popupTriggerArea {
  height: 100%;
  width: 100%;
}

.pdfjsAnnotationLayer .popupWrapper {
  position: absolute;
  font-size: calc(9px * var(--scale-factor));
  width: 100%;
  min-width: calc(180px * var(--scale-factor));
  overflow: hidden;
}

.pdfjsAnnotationLayer .popup {
  position: absolute;
  max-width: calc(180px * var(--scale-factor));
  background-color: #fff1ce;
  box-shadow: none;
  border: solid calc(1px * var(--scale-factor)) #daa529;
  padding: calc(9px * var(--scale-factor));
  margin-left: calc(8px * var(--scale-factor));
  cursor: pointer;
  font: inherit;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  border-radius: 0;
  max-height: calc(200px * var(--scale-factor));;
  overflow: hidden;
  width: calc(150px * var(--scale-factor));
}

.pdfjsAnnotationLayer .popup > * {
  font-size: calc(9px * var(--scale-factor));
  color: rgba(0,0,0,0.8);
}

.pdfjsAnnotationLayer .contentPopupDiv {
  margin-top: calc(15px * var(--scale-factor));
}

.pdfjsAnnotationLayer .titleDiv {
  float: left;
  font-weight: bold;
  width: 100%;
  margin-right: calc(-65px * var(--scale-factor));
}

.pdfjsAnnotationLayer .popupDateDiv {
  float: left;
  color: rgba(0,0,0,0.4);
  width: calc(65px * var(--scale-factor));
}

.pdfjsAnnotationLayer .popupDate {
  display: inline-block;
  margin-left: 0px;
  float: right;
}

.pdfjsAnnotationLayer .popupContent {
  border-top: none;
  margin-top: calc(2px * var(--scale-factor));
  padding-top: calc(2px * var(--scale-factor));
}

.pdfjsAnnotationLayer .richText > * {
  white-space: pre-wrap;
  font-size: calc(9px * var(--scale-factor));
  margin-top: 30px;
}

.pdfjsAnnotationLayer .annotationTextContent {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.pdfjsAnnotationLayer .annotationTextContent span {
  width: 100%;
  display: inline-block;
}

/* pdf-annotate.js */
.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.annotationLayer .popupWrapper {
  position: absolute;
  width: 20em;
}

.annotationLayer .popup {
  transform-origin: 0px 0px;
  transform: scale(0.75);
  overflow: auto;
  font-size: 10px;
  position: absolute;
  z-index: 200;
  max-width: 20em;
  background-color: #fff1ce;
  box-shadow: none;
  border: solid 1px #daa529;
  padding: 10px;
  width: 200px;
  max-height: 200px;
  margin-left: 9px;
  cursor: pointer;
  font: inherit;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  border-radius: 0;
}

.annotationLayer .popup > * {
  font-size: 12px;
  color: rgba(0,0,0,0.8);
}

.annotationLayer .contentPopupDiv {
  margin-top: 20px;
}

.annotationLayer .titleDiv {
  width: 100%;
  float: left;
  margin-right: -65px;
  font-weight: bold;
}

.annotationLayer .popupDateDiv {
  width: 65px;
  float: left;
  color: rgba(0,0,0,0.4);
}

.annotationLayer .popupDate {
  display: inline-block;
  margin-left: 0px;
  font-size: 11px;
}

.annotationLayer .popupContent {
  border-top: none;
  margin-top: 2px;
  padding-top: 2px;
}

.annotationLayer .richText > * {
  white-space: pre-wrap;
}

[contenteditable="true"] {
  outline: none;
}

#viewerContainer {
  top: 0;
}

#sidebarContent {
  overflow: visible;
  background-color: #f5f5f5;
}

html[dir="ltr"] #sidebarContent,
html[dir="rtl"] #sidebarContent {
  box-shadow: none;
}

#outlineView,
#attachmentsView,
#layersView {
  padding: 8px 8px 0;
  width: calc(100% - 16px);
}

.findbar {
  top: -4px;
}

.pdfViewer {
  padding: 12px;
}

body,
input,
button,
select {
  font: inherit;
}

@media print {
  #tool_bar,
  #container > .message_bar,
  #container > .normal_panel,
  #container > .hide_view,
  #status_bar,
  #modal_dialog,
  #modeless_dialog,
  #tool_box,
  #side_bar,
  #dummy_wrap {
    display: none;
  }

}

#pdf-annotate-text-input:empty::before {
  content: attr(default-content);
  color: gray;
}

#pdf-annotate-text-input:focus {
  outline: none;
}

#pdfjs_content {
  width: 100%;
  height: 100%;
}

#pdfjs_sidebar {
  width: 100%;
  height: 100%;
}

// @import url(%PUBLIC_URL%/libs/pdfjs/web/viewer.css);
// 실패시 hidden 클래스 및 element는 보이지 않게 한다.
.hidden {
  display: none !important;
}
[hidden] {
  display: none !important;
}
